.typography-font-bold{
    font-weight: 700;
}
.typography-font-medium{
    font-weight: 500;
}
.typography-font-light{
    font-weight: 300;
}
.typography-font-semibold{
    font-weight: 600;
}
.typography-color-dark{
    color: $dark;
}
.typography-color-light{
    color: $light;
}
.typography-color-sky{
    color: $sky;
}
.typography-color-danger{
    color: $danger;
}
.typography-color-success{
    color: $success;
}